<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <p class="text-center fs-3 fw-bolder">Ruoli</p>
  <div class="d-flex align-items-center">
    <div class="row row-cols-1 row-cols-md-4 g-6">
    <div *ngFor="let r of ruoli">
      <div class="card text-center" style="width:400px">
        <img class="card-img-top" src="/assets/ruolo/images/{{r.immagine}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{r.nome}}</h4>
          <p class="card-text">{{r.zona}}</p>
          <a (click)="navigate(r.id)"><input class="btn btn-outline-dark" type="button" value="input"></a>
        </div>
      </div>
      
    </div>
    </div>
  </div>
</body>
</html>
