<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><strong>Schemi</strong></p>
    <div class="row row-cols-1 row-cols-md-4 g-6">
    <div *ngFor="let s of schemi">
      <div class="card text-center" style="width:400px">
        <img class="card-img-top" src="/assets/schemi/images/{{s.immagine}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{s.nome}}</h4>
          <a href="https://4200-mattiaottav-mondoallena-b5pbizqux7r.ws-eu82.gitpod.io/s/{{s.id}}" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    </div>
</body>
</html>
