<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>
<body>

    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">MondoAllenatori</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="All">Allenatori</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Schem">Schemi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Ruo">Ruoli</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Es">Esercizi</a>
              </li>
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            
          </div>
        </div>
      </nav>

      <br>

    
    <div class="scrolling-wrapper">
    <div class="container-fluid">
    
    <!--allenatori-->
    <p><strong>Allenatori</strong></p>
    <div class="row row-cols-1 row-cols-md-4 g-6">
    <div *ngFor="let a of allenatori">
      <div class="card text-center" style="width:400px">
        <img class="card-img-top" src="/assets/allenatori/images/{{a.immagine}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{a.nome}} {{a.cognome}}</h4>
          <p class="card-text">{{a.squadra}}</p>
          <a href="#all" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    </div>


    <!--schemi-->
    <p><strong>Schemi</strong></p>
    <div class="row row-cols-1 row-cols-md-4 g-6">
    <div *ngFor="let s of schemi">
      <div class="card text-center" style="width:400px">
        <img class="card-img-top" src="/assets/schemi/images/{{s.immagine}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{s.nome}}</h4>
          <a href="#sch" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    </div>

    <!--ruoli-->
    <p><strong>Ruoli</strong></p>
    <div class="row row-cols-1 row-cols-md-4 g-6">
    <div *ngFor="let r of ruoli">
      <div class="card text-center" style="width:400px">
        <img class="card-img-top" src="/assets/ruolo/images/{{r.immagine}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{r.nome}}</h4>
          <p class="card-text">{{r.zona}}</p>
          <a href="#ruo" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    </div>

    <!--esercizi-->
    <p><strong>Esercizi</strong></p>
    <div class="row row-cols-1 row-cols-md-4 g-6">
    <div *ngFor="let e of esercizi">
      <div class="card text-center" style="width:400px">
        <img class="card-img-top" src="/assets/esercizi/images/{{e.immagine}}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{e.nome}}</h4>
          <p class="card-text">{{e.difficolta}}</p>
          <a href="#ese" class="btn btn-primary">See Profile</a>
        </div>
      </div>
    </div>
    </div>
